<library path="rqt_progressbar">
  <class name="rqt_progressbar/RqtProgressbar" type="rqt_progressbar::RqtProgressbar" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      Progress bar for clock or walltime
    </description>
    <qtgui>
      <group>
        <!--<label>ros2 tiny utils</label>-->
        <label>Logger</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to logging.</statustip>
      </group>
      <label>ProgressBar</label>
      <icon type="theme">image-x-generic</icon>
      <!--<icon type="theme">face-angel</icon>-->
      <statustip>A GUI plugin of progress bar</statustip>
    </qtgui>
  </class>
</library>
